<html>  
<head>
	<import type='css' file='css.admin'/> 
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<import type='js' file='js.edit'/> 
</head>
<body>
	<div class="contrace">
		<div class="top-nav">
			<a href="{:U('Wen/addWen')}">
				<span>添加文档</span>
			</a>
		</div>

		<!-- 表格显示列表 -->
		<table class="table">
			<tr><th>id</th><th>标题</th><th>用户</th><th>时间</th><th>点击</th><th>操作</th></tr>
			<volist name='list' id='vo'>
			<tr>
				<td>{$vo.wid}</td>
				<td>{$vo.title}</td>
				<td>{$vo.user}</td>
				<td>{$vo.ctime|date="Y-m-d H:i",###}</td>
				<td>{$vo.hot}</td>
				<td>	<a href="{:U('Wen/Edit',array('wid'=>$vo['wid']))}">编辑</a> <a href="{:U('Wen/WenDel')}" id="{$vo.wid}" class="del"  onclick="return delData(this)">删除</a>	</td>
			</tr>
			</volist>
			<tr>
				<td colspan="6" align="center" class="page">{$page}</td>
			</tr>
		</table>
	<div>
</body>
</html>